<h1>全開 Zenkai</h1>

<button id="example-h-PreviousDomain-selector" style="margin-bottom: 10px;"><</button>
<button id="example-h-NextDomain-selector" style="margin-bottom: 10px;">></button>
<div id="fitness-calendar">
</div>

<script type="text/javascript">
  var gymVisits = window.gon.gymVisits.map(function(e){
    var rawDate = new Date(e);
    var fixedDate = new Date(rawDate.getUTCFullYear(), rawDate.getUTCMonth(), rawDate.getUTCDate());
    return fixedDate;
  });

  var cal = new CalHeatMap();
  cal.init({
    itemSelector: "#fitness-calendar",
    itemName: ["step", "steps"],
    domain: "month",
    subDomain: "x_day",
    data: window.gon.stepsCheckins,
    highlight: gymVisits,
    start: new Date(2015, 0, 1),
    cellSize: 15,
    cellRadius: 3,
    cellPadding: 5,
    range: 3,
    domainMargin: 20,
    animationDuration: 800,
    domainDynamicDimension: false,
    previousSelector: "#example-h-PreviousDomain-selector",
    nextSelector: "#example-h-NextDomain-selector",
    label: {
      position: "left",
      offset: {
        x: 20,
        y: 35
      },
      width: 110
    },
    legend: [5000, 7500, 10000, 12500],
    weekStartOnMonday: false
  });
</script>
